


header{
  widows: 900px;
  height:200px;
  border-radius:4px;
  border:2px solid #ccc;
  background-color:teal;
  font-family:'Open Sans', sans-serif;
  font-size: 6em;
  position: absolute;
    
  
}

section{
  widows:900px;
  height:250px;
  border-radius:2px;
  position: absolute;
  background-color:white;
  font-family:'Open Sans', sans-serif;
  font-size: 3em;
}

nav{
  widows:900px;
  height:200px;
 
  
  
}


footer{
  widows:900px;
  height:100px;
  font-family:'Open Sans', sans-serif;
  font-size: 3em;
  border:2px solid black;
  border-radius:4px;
  background-color:teal;
  position: absolute;

}



